EVALUATION_MODE=false
DEFAULT_BATCH_SIZE=20
OPENALEX_BATCH_SIZE=20
OPTIMIZED_INSERT=false
EVALUATION_PATH=/evaluation/data
DB_CONNECTION_STRING=postgresql+asyncpg://postgres:postgres@localhost:5432/nexus_dev
DB_CONNECTION_STRING_ASYNC=postgresql+psycopg2://postgres:postgres@localhost:5432/nexus_dev
